<% if widget.tweet_id.present? %>
  <div class="tweet_by_id" data-id="<%= widget.tweet_id %>" data-type="<%= widget.type %>"></div>
<% else %>
  <div class="alert alert-info">
    <%= t('scrivito_twitter_widget.details.no_tweet_id', default: 'No id is present. Insert one in details view.') %>
  </div>
<% end %>
